<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JavaBank</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div>
    <h1>Customer Details</h1>
    <form th:object="${customer}" th:action="@{/customer/save}" th:method="post">
        <input th:type="hidden" th:field="*{id}"/>
        <input th:type="hidden" th:field="*{version}"/>


        <label>First Name: </label>
        <input th:type="text" th:field="*{firstName}"/><br>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
            First Name field error messages
        </span><br>

        <label>Last Name: </label>
        <input th:type="text" th:field="*{lastName}"/><br>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
            Last Name field error messages
        </span><br>

        <label>Email:</label>
        <input th:type="text" th:field="*{email}"/><br>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            Email field error messages
        </span><br>

        <label>Phone:</label>
        <input th:type="text" th:field="*{phone}"/><br>
        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
            Phone field error messages
        </span><br>
        <input th:type="submit">
    </form>
</div>
</body>
</html>

